import React from 'react';
import css from './index.module.scss';

interface {{pascalCase name}}Props {

}

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div>
      
    </div>
  );
}