import React from 'react';
import css from './index.module.scss';
import { csx } from '../../utils';

interface {{pascalCase name}}Props {

}

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div className={css.container}>
      
    </div>
  );
}